# IDE files
*.~*
*.cbk
*.dsk
*.identcache
*.local
*.skincfg
*.tvsconfig
__history/

Win32\*
Win64\*
DCU
Debug/
Release/

# Delphi Compiler output files
*.dcu
*.drc
*.jdbg
*.map
*.plist
*.rsm
*.tds

# 64bit Delphi files
*.o
